## Dispatch / Foundation sources:
swift-corelibs-*

## Recreated via rebuild_dispatch.sh:
dispatch-build

## Created by setup.sh:
*.json
usr/bin

# Other files:
.DS_Store

*.xctoolchain
Android.sdk
Android.sdk-*
temp

libs/*/*.so
!libs/*/libicudt*.so
